<a href="https://colab.research.google.com/github/FennyBR/UnespFisica/blob/main/Aula01_08_08_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Aula 01 - 08/08/2023**
Linguagem Computacional: Python

In [ ]:
# Verificação de Tipagem de dados

idade = 18
temp = 28.7
nome = 'Milena'

print(idade)

print('Tipo idade:', type(idade))
print('Tipo temp (temperatura):', type(temp))
print('Tipo nome:', type(nome))

18
Tipo idade: <class 'int'>
Tipo temp (temperatura): <class 'float'>
Tipo nome: <class 'str'>

In [ ]:
# Redefinição de variável

x = 4
print(x)

x = x + 2
print(x)

4
6

In [ ]:
# Entrada e saída de dados

nome = input('Digite o seu nome: ')
print('Seja bem-vindo,', nome, '!')

print('Digite a sua cor favorita: ')
cor = input()
print('A cor', cor, 'é muito bonita!')

In [ ]:
# Conversão de dados

num_str = input('Digite um número: ')
print(type(num_str), num_str)

num_int = int(num_str)
print(type(num_int), num_int)

num_float = float(num_str)
print(type(num_float), num_float)

# Sem mudança de nomes

numero = input('Digite outro número: ')
print(type(numero), numero)

numero = float(numero)
print(type(numero), numero)
#
#resumido
#
nota = float(input('Digite a nota: '))
print(type(nota), 'Sua nota é:', nota)

In [ ]:
# Operações matemáticas

import math

num1 = num2 = sub = mult = div = pot = mod = raiz = 0 #reset de variáveis

num1 = float(input('Digite um número: '))
num2 = float(input('Digite outro número: '))

soma = num1 + num2
sub = num1 - num2
mult = num1 * num2
div = num1 / num2
div_int = num1 // num2
resto = num1 % num2
pot1 = num1 ** num2
pot2 = math.pow(num1,num2)
raiz1 = math.sqrt(num1)
raiz2 = math.sqrt(num2)
mod1 = abs(num1)
mod2 = abs(num2)

print('\tResultados utlizando os número', num1, 'e', num2,
      '\nSoma:', soma,
      '\nSubtração:', sub,
      '\nMultiplicação:', mult,
      '\nDivisão:', div,
      '\nDivisão Inteira:', div_int,
      '\nResto da Divisão:', resto,
      '\nPotência:', pot1,
      '\nPotência com math:', pot2,
      '\nRaiz do primeiro número:', raiz1,
      '\nRaiz do segundo número:', raiz2,
      '\nMódulo do primeiro número:', mod1,
      '\nMódulo do segundo número:', mod2)

In [ ]:
# Operações avançadas (com ângulos)

import math

theta = float(input('Digite o ângulo: '))
theta = math.radians(theta)

seno_theta= math.sin(theta)
cos_theta= math.cos(theta)
tg_theta= math.tan(theta)

print('Seno = {} \nCosseno = {} \nTangente = {}'
      .format(seno_theta, cos_theta, tg_theta))


seno = float(input('Digite o seno: '))
ang_rad = math.asin(seno) #arcosseno
ang_graus = math.degrees(ang_rad)

# print('O ângulo do seno é:', ang_graus)
print('O ângulo do seno é:', round(ang_graus, 1))

In [ ]:
# Arredondamento de valores

salario = float(input('Insira o salário: '))
salario = round(salario, 2)

print('R$ ', salario)

# **Exercícios**

In [ ]:
#1 Calcular a media de 3 notas de um aluno

n1 = n2 = n3 = media = 0

n1 = float(input('Digite a primeira nota:' ))
n2 = float(input('Digite a segunda nota:' ))
n3 = float(input('Digite a terceira nota:' ))

media = (n1+n2+n3)/3

print('A média desse aluno é:', round(media,1))

Digite a primeira nota:1
Digite a segunda nota:6
Digite a terceira nota:3
A média desse aluno é: 3.3

In [ ]:
#2 Calcular o salário de um funcionário com 10% de aumento

salario = novo_sal = 0

salario = float(input('Insira o salário atual do funcionário: '))

novo_sal = salario*1.1

print('O valor do novo salário é:', round(novo_sal,2))

Insira o salário atual do funcionário: 1000
O valor do novo salário é: 1100.0

In [ ]:
#3 Somar, subtrair, multiplicar e dividir 2 números

n1 = n2 = soma = sub = mult = div = 0 #reset de variáveis

n1 = float(input('Digite um número: '))
n2 = float(input('Digite mais um número: '))

soma = n1 + n2
sub = n1 - n2
mult = n1 * n2
div = n1 / n2

print('\tResultados utlizando os número {} e {}'.format(n1,n2))
print('Soma: {} \nSubtração: {} \nMultiplicação: {} \nDivisão: {}'.format(soma, sub, mult, div))

Digite um número: 5
Digite mais um número: 2
	Resultados utlizando os número 5.0 e 2.0
Soma: 7.0
Subtração: 3.0
Multiplicação: 10.0
Divisão: 2.5

In [ ]:
#4 Valor do lado do quadrado e exibir o perímetro

lado = perimetro = 0

lado = float(input('Insira o tamanho do lado do quadrado: '))

perimetro = lado * 4

print('O perímetro do quadrado é:', perimetro)

Insira o tamanho do lado do quadrado: 2
O perímetro do quadrado é: 8.0

In [ ]:
#5 Exiba área do trapézio

base_maior = base_menor = altura = area = 0

base_maior = float(input('Insira o tamanho da maior base do trapézio: '))
base_menor = float(input('Insira a tamanho da menor base do trapézio: '))
altura = float(input('Insira a tamanho da altura do trapézio: '))

area = (base_maior + base_menor)* altura /2

print('A área do trapézio é:', area)

Insira o tamanho da maior base do trapézio: 4
Insira a tamanho da menor base do trapézio: 2
Insira a tamanho da altura do trapézio: 5
A área do trapézio é: 15.0

In [ ]:
#6 Receber ano de nascimento e ano atual e mostrar idade da pessoa em anos, meses, semanas e dias

nascimento = atual = mes = dia = ano = semana = 0

nascimento = int(input('Qual o ano em que você nasceu? '))
atual = int(input('Em qual ano estamos? '))

ano = atual - nascimento
mes = ano * 12
dia = ano * 365
semana = ano * 52

print('\tA sua idade convertida em: \nAnos:{} \nMeses:{} \nSemanas:{} \nDias:{}'. format(ano, mes, semana, dia))

Qual o ano em que você nasceu? 2004
Em qual ano estamos? 2023
	A sua idade convertida em:
Anos: 19
Meses: 228
Semanas: 988
Dias: 6935