<a href="https://colab.research.google.com/github/FennyBR/UnespFisica/blob/main/Aula07_03_10_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Aula 07 - 03/10/2023**
Exercícios 0/14

1. Faça um programa que calcule e escreva uma tabela de metros (1 a 25m) para pés e
polegadas. (1m = 3,28 pés; 1m = 39,37 polegadas).

In [9]:
print('Metro \tPé \tPolegada')
for m in range(1,26,1):
  pe = m* 3.28
  pol = m* 39.37
  print("{} \t{} \t{}". format(m, round(pe,3), round(pol,3)))

Metro 	Pé 	Polegada
1 	3.28 	39.37
2 	6.56 	78.74
3 	9.84 	118.11
4 	13.12 	157.48
5 	16.4 	196.85
6 	19.68 	236.22
7 	22.96 	275.59
8 	26.24 	314.96
9 	29.52 	354.33
10 	32.8 	393.7
11 	36.08 	433.07
12 	39.36 	472.44
13 	42.64 	511.81
14 	45.92 	551.18
15 	49.2 	590.55
16 	52.48 	629.92
17 	55.76 	669.29
18 	59.04 	708.66
19 	62.32 	748.03
20 	65.6 	787.4
21 	68.88 	826.77
22 	72.16 	866.14
23 	75.44 	905.51
24 	78.72 	944.88
25 	82.0 	984.25

2. Faça um programa que calcule e escreva uma tabela de conversão de oC para oF e K.
Considere o intervalo de oC de -100 a 100 incrementando de 10 em 10. Considere: F = C * 9/5 + 32 e K = 273,15 + C.

In [12]:
print('Celsius \tFahrenheit \tKelvin')
for c in range(-100,101,10):
  f = c* 9/5 + 32
  k = 273.15 + c
  print("{} \t\t{} \t\t{}". format(c, round(f,2), round(k,2)))

Celsius 	Fahrenheit 	Kelvin
-100 		-148.0 		173.15
-90 		-130.0 		183.15
-80 		-112.0 		193.15
-70 		-94.0 		203.15
-60 		-76.0 		213.15
-50 		-58.0 		223.15
-40 		-40.0 		233.15
-30 		-22.0 		243.15
-20 		-4.0 		253.15
-10 		14.0 		263.15
0 		32.0 		273.15
10 		50.0 		283.15
20 		68.0 		293.15
30 		86.0 		303.15
40 		104.0 		313.15
50 		122.0 		323.15
60 		140.0 		333.15
70 		158.0 		343.15
80 		176.0 		353.15
90 		194.0 		363.15
100 		212.0 		373.15

3. Faça um programa que receba dois números. Calcule e mostre:



*   A soma dos números pares desse intervalo de números, incluindo os números
digitados.
*   A multiplicação dos números ímpares desse intervalo, considerando os números
digitados.

In [17]:
n1 = n2 = soma = 0
mult = 1

n1 = int(input('Digite um número: '))
n2 = int(input('Digite um número maior que o anterior: '))

for n in range(n1,n2+1,1):
  if n % 2 == 0:
    soma = soma + n
  else:
    mult = mult * n

print('Soma dos pares:', soma)
print('Multiplicação dos ímpares:', mult)

Digite um número: 8
Digite um número maior que o anterior: 999
Soma dos pares: 249488
Multiplicação dos ímpares: 959507902511912895276561118021938459526889700795718244809655023936522361246332428821068094501799204897375684345734322083902990149904475291454131657685986117807756549555002068401010834556447859561301874829180263598926061431533684638171325889372156390228330017716951089296695357787388265149843564055228594891471341828407583858686997227024201400069831205971752540857841097328886552882278622292656601421138277976180566946999834801076253487803388858232756300596672489285431760656938193231812074606021104099359105296295900794978840266453195490523227825373645729482910412765849221801399363726196243602084731426507020542838034401655653023314118023105804228689051304675391136794434052644156467428832313099179248803931260399590622958906527647469733359025058608252330599583284478160333943662024673133551663780986961426285246689893028221701859970310671364724797897495685093147281345586525523573073146393044766847286887163633026910155274073375161893883739304848030195075505050019369071011168501609421017693926032203686995195278393019428305828250759094049387232119707106946853514578044579128612055092117302719742527755504817682447092065152216944628133630850907208540194379552891400473480082510519823550866443771454885104571893762129740263459691741160088353235213531888803117908537387847900390625

4. Faça um programa que receba 8 números que calcule e mostre a quantidade de números
entre 30 e 90.

5. Faça um programa que receba os seguintes dados de 9 veículos: tipo (moto, carro ou
caminhão) e o valor de venda. Calcule e mostre:


*   Valor total vendido;

*   Valor vendido por cada tipo;
*   Média de valor dos carros vendidos.

6. Faça um programa que receba a idade e o peso de 5 pessoas. Calcule e mostre:
• A quantidade de pessoas com mais de 90kg;
• A média da idade das 5 pessoas.

7. Uma loja utiliza o código V para uma transação à vista e P para transação a prazo. Faça
um programa que receba o código e o valor de 7 transações. Calcule e mostre:
• O valor total das compras à vista;
• O valor total das compras a prazo;
• O valor total das compras efetuadas.

8. Uma empresa fez uma pesquisa de mercado para saber se gostaram ou não de um novo
produto que foi lançado no mercado. Na entrevista foi perguntado o sexo do entrevistado
(M ou F) e sua resposta (S – Sim ou N – Não). Sabe-se que foram entrevistadas dez
pessoas. Faça um programa que calcule e mostre:
• O número de pessoas que respondeu sim;
• O número de pessoas que respondeu não;
• O número de mulheres que respondeu sim;
• A porcentagem de homens que respondeu não entre todos os homens analisados.

9. Foi feito uma pesquisa em cinco cidades do Brasil para coletar dados sobre acidentes de
trânsito. Foram obtidos os dados de nome da cidade, número de veículos de passeio,
número de acidentes de trânsito com vítimas.
Deseja-se saber:
• Qual o maior e o menor índice de acidades de trânsito e qual cidades pertencem;
• Qual é a média de veículos nas cinco cidades juntas;
• Qual a média de acidentes de trânsito nas cidades com menos de 15 mil veículos
de passeio.

14. Faça um programa de gerenciamento dos vendedores da Loja Marilsa. O programa deve
considerar se o vendedor é junior (J) ou sênior (S) e valor vendido. Calcule e mostre:
* O valor médio de venda dos vendedores junior;
* A soma de vendas dos vendedores sênior;
* O valor máximo e valor mínimo vendido.
* Finalize o programa quando o usuário digitar F (finalizar)

In [22]:
op = cod = soma_J = venda_J = soma_S = venda_S = cont = maximo = 0
minimo = 99999999

while cod != 'F':
  cod = input('Digite o código: \nJ - Junior \nS - Sênior \nF - Finalizar \n')

  if cod == 'J':
    venda_J = float(input('Insira o valor de venda do vendedor: '))
    cont = cont + 1
    soma_J = soma_J + venda_J

  elif cod == 'S':
    venda_S = float(input('Insira o valor de venda do vendedor: '))
    soma_S = soma_S + venda_S


  if maximo < venda_S:
    maximo = venda_S
  elif maximo < venda_J:
    maximo = venda_J
  elif minimo > venda_S:
    minimo = venda_S
  elif minimo > venda_J:
    minimo = venda_J


media = soma_J / cont

print('O valor médio de venda dos vendedores junior:', round(media,2))
print('A soma de vendas dos vendedores sênior:', round(soma_S,2))
print('O valor máximo vendido:', maximo)
print('O valor mínimo vendido:', minimo)

Digite o código:
J - Junior
S - Sênior
F - Finalizar
J
Insira o valor de venda do vendedor: 15246
Digite o código:
J - Junior
S - Sênior
F - Finalizar
S
Insira o valor de venda do vendedor: 4512365
Digite o código:
J - Junior
S - Sênior
F - Finalizar
S
Insira o valor de venda do vendedor: 896
Digite o código:
J - Junior
S - Sênior
F - Finalizar
J
Insira o valor de venda do vendedor: 5555
Digite o código:
J - Junior
S - Sênior
F - Finalizar
F
O valor médio de venda dos vendedores junior: 10400.5
A soma de vendas dos vendedores sênior: 4513261.0
O valor máximo vendido: 4512365.0
O valor mínimo vendido: 896.0